<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://img.icons8.com/office/16/000000/time.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <p>An API project that returns a JSON for the timestamp for unix and utc times. Access the API via the following relative link <b>/api/timestamp/:date_string</b>. If the <b>:date_string</b> field is left empty, the API will provide the current time.</p>
        <h3><label for='dstring'>Try entering a date string:</label></h3>
        <input type='text' id='dstring' name='dstring' class='dstring-input'>
        <button class='submit'>ENTER</button>
        <h3>Example Usage:</h3>
        <ul>
          <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
          <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
      </div>
   </body>
   <script>
    document.querySelector('.submit').onclick = function () {
        const dateString = document.querySelector('.dstring-input').value;
        location.href = `https://boilerplate-project-timestamp.bryanw1.repl.co/api/timestamp/${dateString}`;
}
   </script>

</html>
